[run]
source = prosemble
omit = 
    */tests/*
    */test_*.py
    */__init__.py
    */setup.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    @abstractmethod
    @abc.abstractmethod

ignore_errors = True
precision = 2

[html]
directory = htmlcov
